{# src/BlogBundle/BlogBundle/Resources/views/Comment/form.html.twig #}

<form action="{{ path('blog_bundle_comment_create', { 'blog_id' : comment.blog.id } ) }}" method="post" class="blogger">
    {{ form_widget(form) }}
    <p>
        <input type="submit" value="Submit">
    </p>
</form>