{# src/BlogBundle/BlogBundle/Resources/views/about.html.twig #}
{% extends 'BlogBundleBlogBundle::layout.html.twig' %}

{% block title %}About{% endblock%}

{% block body %}
    <header>
        <h1>About blogSymfony</h1>
    </header>
    <article>
        <p>Ceci est un projet de création de blog sous symfony 
        très passionnant</p>
    </article>
{% endblock %}