{# src/BlogBundle/BlogBundle/Resources/views/about.html.twig #}
{% extends 'BlogBundleBlogBundle::layout.html.twig' %}

{% block title %}About{% endblock%}

{% block body %}
    <header>
        <h1>A propos blogSymfony</h1>
    </header>
    <article>
        <p>Bienvenue sur mon blog</p>
    </article>
{% endblock %}