{# src/BlogBundle/BlogBundle/Resources/views/Page/sidebar.html.twig #}

<section class="section">
    <h1>Login</h1>

<form action="{{ path('login') }}" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="_username" value="" />

    <label for="password">Password:</label>
    <input type="password" id="password" name="_password" />
    <br><br>
    <button class="btn btn-primary" type="submit">login</button>
</form>
</section>