{# src/BlogBundle/BlogBundle/Resources/views/Page/sidebar.html.twig #}

<section class="section">
{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
    <a class="link" href="{{ path('logout') }}">Logout</a>
{% endif %}
<form action="{{ path('login') }}" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="_username" value="" />

    <label for="password">Password:</label>
    <input type="password" id="password" name="_password" />
    <br><br>
    <button class="btn btn-primary" type="submit">login</button>
</form>
</section>